.contact {
	position: relative;

	@include below (sm) {
		padding-bottom: 0 !important;
	}

	&__svg {
		position: absolute !important;
		top: -7rem !important;
		height: 200px;
	}

	&__info {
		align-self: center;
		position: relative;
		font-weight: 600;
		padding: 1rem;
		color: $white;
		
		@include above (sm) {
			&:after {
				background-image: url('../img/bg_blue.svg');
				background-size: contain;
				background-position: center center;
				background-repeat: no-repeat;
				width: 100%;
				height: 100%;
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				z-index: 0;
			}
		}

		@include below (sm) {
			width: 100%;
			margin-top: 2rem;
			background: $blue;
			padding-top: 3rem;
			padding-bottom: 3rem;
		}

		a {
			color: $white;
			transition: all ease .3s;

			&:hover {
				color: $red;
			}
		}

		p:last-child() {
			margin-bottom: 0;
		}
		

		@include above (sm) {
			padding: 11rem 1rem; 
		}
	}

	&__wrap {
		position: relative;
		z-index: 10;

		@include above (sm) {
			padding: 3rem 1.5rem;
		}

		@include above (md) {
			padding: 3rem;
		}
	}

	&__title {
		margin-top: 0;
		font-size: 34px;

		@include above (lg) {
			font-size: 44px;
		}
	}
}