.footer {

	svg {
		height: 200px;
	}

	&__container {
		position: relative;

		&:before, &:after {
			position: absolute;
			content: '';
			width: 100vw;
			height: 100%;
			background: $black;
			top: 0;
			z-index: -1;
		}

		&:before {
			left: 0;
		}

		&:after {
			right: 0;
		}
	}

	&__item {
		color: $white;

		li {
			transition: all ease .3s;
		}

		a {
			color: $white;
			transition: all ease .3s;

			&:hover {
				color: $red;
			}
		}


		&:first-child {
			margin-left: 0;

			p:last-child {
				margin-bottom: 0;
			}

			@include below (sm) {
				.footer__title {
					margin-top: 0;
				}
			}
		}

		&:not(:first-child) {

			@include above (sm) {
				margin-left: 12.499965%;
			}
		}
		
		&:not(:last-child) {
			@include above (sm) {
				border-right: $white 1px solid;
			}
		}

		ul {
			margin: 0;
			padding: 0;
			list-style-type: disc;
			list-style-position: inside;
		} 
	}

	&__title {

		@include above (sm) {
			margin-top: 0;
		}
	}
}
