.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	padding-top: 1rem;
	padding-bottom: 1rem;

	&__logo {
		display: block;
		float: left;

		img {
			width: 200px;
			height: 101px;

			@include above (sm) {
				width: 250px;
				height: 126px;
			}

			@include above (lg) {
				width: 517px;
				height: 260px;
			}
		}
	}
}