/********************LAYOUTS********************/

/* Base Styles */
.none--bg {

  .wysiwygs__title {
    color: $red;
  }
}

.white--bg {

    .wysiwygs__title {
      color: $red;
    }

    @include wave(
      $color: $white
    );
}

.blue--bg {
    .fab {
      color: #3b579d;
    }

    @include wave(
      $color: $blue
    );
}

.blue-light--bg {
    @include wave(
      $color: $blue-light
    );
}

.blue--bg, .blue-light--bg {

  .wysiwygs__title {
    color: $white;
  }
}


/* WYSIWYGs */
.wysiwygs {

  &--img {
    background-repeat: repeat;
    background-position: center center;
    background-size: contain;
  }

  &__title {
    margin-top: 0;
    letter-spacing: .2rem;
  }

  &__col {

    h1, h2,
    h3, h4,
    h5, h6 {
      margin-top: 0;
    }

    a {
      color: $white;
    }

    p {
      font-weight: 600;
      line-height: 1.4;

      @include above (sm) {
        font-size: 18px;
      }
    }

    @include above (sm) {

      &.first {
        p:last-child {
          margin-bottom: 0;
        }
      }
    }

    &.last {
      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}


.flex {
	display: flex;

	&--hvalign {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&--valign {
		align-items: center;
		justify-content: center;
	}

	&--justify {
		justify-content: space-between;
	}

	&--center {
		align-items: center;
	}

	&--wrap {
		flex-wrap: wrap;
	}

	&--end {
		justify-content: flex-end;
	}
}


.padding {

  &--top {
    padding-top: 3rem;
  }
  
  &--bottom {
    padding-bottom: 3rem;
  }

  &--both {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  @include above (sm) {

    &--top {
      padding-top: 6rem;
    }

    &--bottom {
      padding-bottom: 6rem;
    }

    &--both {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
}

.margin {

  &--top {
    
  }
  
  &--bottom {
    
  }

  &--both {
  
  }

  @include above (sm) {

    &--top {
      
    }

    &--bottom {
      
    }

    &--both {
   
    }
  }
}