.page {

	&__hero {
		background: no-repeat center center;
		background-size: cover;
		color: $white;
		padding-top: 10rem;
		padding-bottom: 5rem;
		font-weight: 700;
		position: relative;

		@include above (sm) {
			font-size: 24px;
			padding-top: 15rem;
			padding-bottom: 15rem;

		}

		@include above (md) {
			padding-top: 20rem;
			padding-bottom: 20rem;
		}

		@include above (lg) {
			padding-top: 25rem;
			padding-bottom: 25rem;
		}

		p {
			line-height: 1.4;
		}
	}

	&__svg {
	    position: absolute;
	    bottom: -1rem;
	    z-index: -1;
	    fill: white;
	    height: 200px;

	    @include above (sm) {
	    	bottom: -30rem;
	    }
	}

	&__container {
		position: relative;
	}
	
	&__title {
		margin-top: 0;
		line-height: 1.2;
		@include text-stroke(
			$stroke-width: 4px
		);
	}

	&__wrap {

	} 

	&__product {
		@include above (sm) {
			position: absolute;
	    }
	} 

	&__figure {
		@include above (sm) {
			position: absolute;
			z-index: 10;
			top: -10rem;
	    }	
	}
}
