.variants {	
	background: no-repeat center center;
    background-size: contain;
    font-weight: 600;
    color: $white;
	
	@include above (sm) {
	    &:nth-child(odd) {
	    	position: relative;
	    	color: $black;

	    	&:after {
	    		content: '';
	    		background-image: url(../img/bg_white.svg);
	    		position: absolute;
	    		width: 100%;
	    		height: 100%;
	    		top: 0;
	    		left: 0;
	    		background-position: center center;
	    		background-size: contain;
	    		background-repeat: no-repeat;
	    		z-index: -1;
	    	}
	    }
	}

	.white--fill {
		fill: $white;
	}

	.white--bg {
		position: relative;

		&:before, &:after {
			position: absolute;
			content: '';
			width: 100vw;
			height: 100%;
			top: 0;
			z-index: -1;
			background: $white;
		}

		&:before {
			left: 0;
		}

		&:after {
			right: 0;
		}
	}

	&__item {
		@include above (sm) {
			margin-top: 3rem;
		}
	}

	&__title {
		line-height: 1.4;
	}

	&__fb {
		margin-left: 1rem;
	}
}

.varianter {

	.page__hero {
		padding-bottom: 0;
	}
}