.btn {
	display: inline-block;
	font-family: $custom-font-headings;
	padding: 1rem 2.5rem;
	background: transparent;
	color: $white;
	cursor: pointer;

	span {
		z-index: 10;
		position: relative;
	}

	&--black {
		position: relative;

		&:before {
			content: '';
			background-image: url('../img/btn.svg');
			position: absolute;
			width: 100%;
			height: 100%;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
			z-index: 0;
			top: -.2rem;
			left: 0;
			padding: 2rem;
		}
	}

	&--red {
		position: relative;

		&:before {
			content: '';
			background-image: url('../img/btn_red.png');
			position: absolute;
			width: 100%;
			height: 100%;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
			z-index: 0;
			top: -.2rem;
			left: 0;
			padding: 2rem;
		}
	}
}